// BASE
@import "./2-Base/base.scss";
@import "./2-Base/resets/reset-ng-zorro.scss";

// CONFIG
@import "./1-Tokens/variables.scss";
@import "/src/config.scss";

:root {
  --color-disabled: #{map-get($colors, disabled)};
  --color-secondary-first-soft: #{map-get($colors, secondary-first-soft)};
  --color-inverse: #{map-get($colors, inverse)};
  --color-primary-1: #{map-get($colors, primary-1)};
  --color-primary-2: #{map-get($colors, primary-2)};
  --color-primary-4: #{map-get($colors, primary-4)};
  --color-primary-5: #{map-get($colors, primary-5)};
  --color-primary-6: #{map-get($colors, primary-6)};
  --color-danger-hard: #{map-get($colors, danger-hard)};
  --color-danger-soft: #{map-get($colors, danger-soft)};
}

// SET UP
@import "./2-Base/mixins/border.scss";
@import "./2-Base/mixins/color.scss";
@import "./2-Base/mixins/gap.scss";
@import "./2-Base/mixins/margin.scss";
@import "./2-Base/mixins/padding.scss";
@import "./2-Base/mixins/shadow.scss";

@import "./3-Atoms/buttons.scss";
@import "./3-Atoms/checkbox.scss";
@import "./3-Atoms/error.scss";
@import "./3-Atoms/file-upload.scss";
@import "./3-Atoms/input-number.scss";
@import "./3-Atoms/input.scss";
@import "./3-Atoms/modal-message.scss";
@import "./3-Atoms/pagination.scss";
@import "./3-Atoms/radio-button.scss";
@import "./3-Atoms/radio.scss";
@import "./3-Atoms/select.scss";
@import "./3-Atoms/table.scss";
@import "./3-Atoms/textarea.scss";
@import "./3-Atoms/toggle.scss";
@import "./3-Atoms/tooltip.scss";
