// @use "../1-Tokens/tokens-colors.scss" as tColors;

.az-button {
  display: inline-flex;
  gap: 8px;
  border-radius: 8px;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.az-button--disabled {
  cursor: not-allowed;
}

.az-button > span[azui-icons] {
  height: 16px;
}

.az-button[disabled] {
  cursor: not-allowed;
}

.az-button-normal {
  height: 42px;
  padding: 8px 24px;
}

@media (max-width: 982px) {
  .az-button-normal {
    height: 52px;
  }
}

.az-button-icon {
  width: 42px;
  height: 42px;
  padding: 8px;
}

.az-button-link {
  padding: 0;
}

@mixin azui-button(
  $name,
  $colorBackground,
  $colorText,
  $colorBorder,
  $colorBackgroundHover,
  $colorTextHover,
  $colorBorderHover,
  $colorBackgroundFocus,
  $colorTextFocus,
  $colorBorderFocus,
  $colorBackgroundDisabled,
  $colorTextDisabled,
  $colorBorderDisabled,
  $colorBackgroundDanger: red,
  $colorTextDanger: red,
  $colorBorderDanger: red
) {
  .az-button-#{$name} {
    background-color: $colorBackground;
    color: $colorText;
    border: 1px solid $colorBorder;

    &:hover {
      background-color: $colorBackgroundHover;
      color: $colorTextHover;
      border-color: $colorBorderHover;
    }

    &:active,
    &:focus {
      background-color: $colorBackgroundFocus;
      color: $colorTextFocus;
      border-color: $colorBorderFocus;
      outline: none;
    }
  }

  .az-button-#{$name}[disabled] {
    background-color: $colorBackgroundDisabled;
    color: $colorTextDisabled;
    border: 1px solid $colorBorderDisabled;
  }

  .az-button-#{$name}__danger {
    background-color: $colorBackgroundDanger;
    color: $colorTextDanger;
    border: 1px solid $colorBorderDanger;

    &:hover {
      background-color: $colorBackgroundDanger;
      color: $colorTextDanger;
      border-color: $colorBorderDanger;
    }

    &:active,
    &:focus {
      background-color: $colorBackgroundDanger;
      color: $colorTextDanger;
      border-color: $colorBorderDanger;
      outline: none;
    }
  }
}

@include azui-button(
  "primary",
  map-get($colors, primary-5),
  map-get($colors, inverse),
  map-get($colors, primary-5),
  map-get($colors, primary-4),
  map-get($colors, inverse),
  map-get($colors, primary-4),
  map-get($colors, primary-6),
  map-get($colors, inverse),
  transparent,
  map-get($colors, primary-2),
  map-get($colors, inverse),
  transparent,
  map-get($colors, danger-hard),
  map-get($colors, inverse),
  transparent
);

@include azui-button(
  "neutral",
  transparent,
  map-get($colors, subordinate),
  transparent,
  transparent,
  map-get($colors, base),
  transparent,
  map-get($colors, subordinate),
  map-get($colors, inverse),
  map-get($colors, subordinate),
  map-get($colors, disabled),
  map-get($colors, inverse),
  transparent
);

@include azui-button(
  "outlined",
  transparent,
  map-get($colors, primary-5),
  map-get($colors, primary-3),
  transparent,
  map-get($colors, primary-4),
  map-get($colors, primary-2),
  map-get($colors, inverse),
  map-get($colors, primary-6),
  map-get($colors, primary-4),
  map-get($colors, inverse),
  map-get($colors, primary-2),
  map-get($colors, primary-2),
  map-get($colors, inverse),
  map-get($colors, danger-hard),
  map-get($colors, danger-mediu) m
);

@include azui-button(
  "secondary",
  map-get($colors, inverse),
  map-get($colors, primary-5),
  transparent,
  map-get($colors, inverse),
  map-get($colors, primary-4),
  transparent,
  map-get($colors, primary-1),
  map-get($colors, base),
  transparent,
  map-get($colors, inverse),
  map-get($colors, disabled),
  transparent
);

@include azui-button(
  "link",
  transparent,
  map-get($colors, primary-5),
  transparent,
  transparent,
  map-get($colors, primary-4),
  transparent,
  transparent,
  map-get($colors, primary-6),
  transparent,
  map-get($colors, inverse),
  map-get($colors, primary-2),
  transparent
);

@include azui-button(
  "text",
  transparent,
  map-get($colors, primary-4),
  transparent,
  map-get($colors, primary-1),
  map-get($colors, primary-5),
  transparent,
  map-get($colors, primary-2),
  map-get($colors, primary-6),
  transparent,
  transparent,
  map-get($colors, disabled),
  transparent
);
