// @use '../1-Tokens/tokens-colors.scss' as tColors;

.az-checkbox {
  height: 38px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.az-checkbox__selected {
  background: map-get($colors, primary-1);
}

.az-checkbox__disabled {
  cursor: not-allowed;
}

.az-checkbox__unselected:hover > input[type="checkbox"] {
  border: 2px solid map-get($colors, primary-5);
}

.az-checkbox__unselected:hover {
  background: map-get($colors, primary-1);
}

.az-checkbox__unselected:hover > label {
  color: map-get($colors, primary-5);
}

.az-checkbox > input[type="checkbox"] {
  height: 16px;
  width: 16px;
  padding: 6px;
  appearance: none;
  border: 2px solid map-get($colors, disabled);
  background: map-get($colors, inverse);
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:not(:disabled):checked {
    background: map-get($colors, primary-5);
    border: none;
  }

  &:disabled {
    background: map-get($colors, disabled);
    cursor: not-allowed;
  }
}

.az-checkbox > span[azui-icons] {
  position: absolute;
  margin-top: 1.5px;
  margin-left: 2.4px;
  font-size: 11px;
  color: map-get($colors, inverse);
}

.az-checkbox > label,
.az-checkbox > span {
  cursor: pointer;
  transition: all 0.3s ease;
}
