// @use '../1-Tokens/tokens-colors.scss' as tColors;

.az-textarea {
  position: relative;
  min-height: 50px;
}

.az-textarea > textarea {
  padding-top: 8px;
  padding-bottom: 14px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 42px;
  max-height: 150px;
  width: 98%;
  border: none;
  outline: none;
  background-color: map-get($colors, inverse);
}

.az-textarea > span {
  position: absolute;
  bottom: 4px;
  right: 22px;
  pointer-events: none;
}

.az-textarea > label {
  position: absolute;
  top: 8px;
  left: 16px;
  pointer-events: none;
  transition: 0.3s ease;
  color: map-get($colors, subordinate);
}

.az-textarea > textarea:focus,
.az-textarea > textarea:not(:placeholder-shown) {
  padding-top: 22px;
}

.az-textarea > textarea:focus + label,
.az-textarea > textarea:not(:placeholder-shown) + label {
  font-size: 10px;
  line-height: 140%;
}

.az-textarea__disabled {
  color: map-get($colors, primary-3);
}

.az-textarea__error {
  border: none;
  border-radius: 8px 8px 0 0;
}

.az-textarea__error > label {
  color: map-get($colors, danger-medium);
}
