/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;

  h1 {
    font-size: 61px;
  }

  h2 {
    font-size: 47px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 27px;
  }

  h5 {
    font-size: 21px;
  }
}
